body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_files/1.png'); background-size: 100%;
}

.u0_container {
    position:absolute;
    left:0px;
    top:-20px;
    width:320px;
    height:630px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:630px;
}

.u1 {
    position:absolute;
    left:2px;
    top:307px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:77px;
    top:0px;
    width:243px;
    height:541px;
    overflow:hidden;
}

#pd1u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:243px;
    height:541px;
    
}

.u3_normal {
    background-image: url('../Home_files/ham.png'); background-size: 100%;
}

.u3_container {
    position:absolute;
    left:1px;
    top:0px;
    width:243px;
    height:542px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:243px;
    height:542px;
}

.u4 {
    position:absolute;
    left:2px;
    top:263px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:0px;
    top:85px;
    width:242px;
    height:39px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:45px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u7 {
    position:absolute;
    left:151px;
    top:4px;
    width:92px;
    height:37px;
    overflow:hidden;
}

#pd0u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:37px;
    
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:41px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:243px;
    height:541px;
    
}

#u11 {
    position:absolute;
    left:278px;
    top:5px;
    width:41px;
    height:38px;
    overflow:hidden;
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:38px;
    
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:37px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:43px;
}

.u13 {
    position:absolute;
    left:2px;
    top:10px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:10px;
    top:279px;
    width:300px;
    height:113px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:119px;
}

.u15 {
    position:absolute;
    left:2px;
    top:48px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:0px;
    top:88px;
    width:321px;
    height:149px;
    overflow:hidden;
}

#pd0u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:149px;
    
}

.u17_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:148px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:154px;
}

.u18 {
    position:absolute;
    left:2px;
    top:66px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

