body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../create_files/3.png'); background-size: 100%;
}

.u0_container {
    position:absolute;
    left:0px;
    top:-20px;
    width:320px;
    height:729px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:729px;
}

.u1 {
    position:absolute;
    left:2px;
    top:356px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:6px;
    top:5px;
    width:37px;
    height:34px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:40px;
}

.u3 {
    position:absolute;
    left:2px;
    top:9px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:11px;
    top:124px;
    width:298px;
    height:50px;
    ;
    ;
    text-align: left;;
    font-family:'MozTT';
    font-size: 18px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u5 {
    position:absolute;
    left:11px;
    top:210px;
    width:298px;
    height:78px;
    ;
    ;
    text-align: left;;
    font-family:'MozTT';
    font-size: 18px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}



.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:166px;
    top:648px;
    width:142px;
    height:44px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:14px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

